.container-login {
  margin-top: 10%;
  width: 320px;
  padding: 30px;
  box-shadow: 0 3px 20px rgb(185, 239, 255);
}

body {
  background-color: rgb(185, 239, 255);
}

.container-tambahdata {
  width: full;
  padding: 20px;
  background-color: rgb(199, 233, 243);
  box-shadow: 0 3px 20px rgb(198, 235, 247);
  border-radius: 15px;
}

.mt-2 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: black;
  text-align: center;
}

.pencarian {
  margin-top: 2%;
  margin-left: 50em;
  margin-bottom: 2%;
}

.container-fluid {
  height: 100%;
  background-color: white;
}

.wrapper {
  background-color: rgb(199, 233, 243);
  box-shadow: 0 3px 20px rgb(198, 235, 247);
  border-radius: 15px;
}

.container-jenis {
  width: full;
  padding: 20px;
  background-color: rgb(199, 233, 243);
  box-shadow: 0 3px 20px rgb(198, 235, 247);
  border-radius: 15px;
}

.button-dokumen {
  margin-top: 2%;
  margin-bottom: 2%;
}

.buttonsubmit {
  margin-top: 3%;
  margin-bottom: 2%;
}
